/* publication page */

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

p4:hover {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-left: 15px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.journal {
  font-size: 13px;
  margin-left: 15px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.author {
  font-weight: bold;
  font-size: 13px;
  margin-left: 15px;
  padding-top: 20px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.references {
  color: blue;
  font-weight: bold;
  font-size: 13px;
  margin-left: 15px;
}

.pub_url {
  font-weight: bold;
  font-size: 13px;
  margin-left: 15px;
}

li {
  list-style-type: none;
  padding-top: 25px;
}